.header-container{
    width: 100vw;
    height: 10vh;
    
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .header-container{
        img{
            width: 30%;
        }
    }
}