.library-header{
    .category-list{

        align-items: center;
        gap: 1rem;

        .category{
            margin: 1rem 0;
            padding: .5rem 2rem;
        
            border: 1px solid;
            border-radius: 24px;
            
            text-align: center;
        
            background-color: transparent;
            font-weight: 500;
        
            &:hover{
                color: var(--primary-color);
                transition: .3s all;
            }
        
            &.selected{
                color: white;
                background-color: var(--primary-color);
            }        
    }
}
    .order{
        p{

        }
        .order-button{
            padding: .5rem 1rem;
            background-color: transparent;
            border-radius: 12px;
        }
    }
}
